# 0. Imports

In [20]:
import pandas as pd
import inflection
import math

## 0.1. Helper Functions

## 0.2. Loading data

- Dados dispon√≠veis em: https://www.kaggle.com/competitions/rossmann-store-sales/data

In [21]:
df_sales_raw = pd.read_csv('data/train.csv', low_memory=False)
df_store_raw = pd.read_csv('data/store.csv', low_memory=False)

In [22]:
df_sales_raw.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [23]:
df_store_raw.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [24]:
# merge 
df_raw = pd.merge(df_sales_raw, df_store_raw, how='left', on='Store')

In [25]:
df_raw.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
684151,327,6,2013-10-26,5402,755,1,0,0,0,c,c,1390.0,12.0,2004.0,0,NaN,NaN,NaN

# 1. Descri√ß√£o dos dados

## 1.1. Rename Columns

In [46]:
df1 = df_raw.copy()

In [47]:
df1.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [48]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday', 
            'SchoolHoliday', 'StoreType', 'Assortment', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 
            'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek','Promo2SinceYear', 'PromoInterval']

In [49]:
snakecase = lambda x: inflection.underscore(x)

cols_new = list(map(snakecase, cols_old))

# rename 
df1.columns = cols_new

In [50]:
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

## 1.2. Data dimensions

In [51]:
print('Number of rows:{}'.format(df1.shape[0]))
print('Number of columns:{}'.format(df1.shape[1]))

Number of rows:1017209
Number of columns:18

## 1.3. Data types

In [52]:
df1.dtypes

store                             int64
day_of_week                       int64
date                             object
sales                             int64
customers                         int64
open                              int64
promo                             int64
state_holiday                    object
school_holiday                    int64
store_type                       object
assortment                       object
competition_distance            float64
competition_open_since_month    float64
competition_open_since_year     float64
promo2                            int64
promo2_since_week               float64
promo2_since_year               float64
promo_interval                   object
dtype: object

In [53]:
df1['date'] = pd.to_datetime(df1['date'])

## 1.4. Check NAs

In [54]:
df1.isna().sum()

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

Precisamos tratar os NAs. Podemos fazer is:
- Eliminar as linhas que tenham NA (perde muitos dados)
- Imputar dados usando um algoritmo de ML (quando n√£o h√° informa√ß√£o de neg√≥cio)
- Entendendo a quest√£o de neg√≥cio (sabendo as regras, podemos imputar de maneira mais precisa)

## 1.5. Fillout NA

### Suposi√ß√µes

#### competition_distance

- **Suposi√ß√£o**: N√£o tenho competidor pr√≥ximo, ou a dist√¢ncia √© muito grande a ponto de assumir que n√£o h√° competidor pr√≥ximo.
- **Preenchimento de NA**: Vamos preencher os NAs desta vari√°vel com uma dist√¢ncia maior do que o maior n√∫mero existente nessa coluna.

#### competition_open_since_month

- **Suposi√ß√£o**: Se existe um competidor, seria interessante saber quando ele abriu. Se n√£o temos esta informa√ß√£o, √© porque o competidor est√° muito distante ou esqueceram de anotar. 
- **Preenchimento de NA**: Vamos preencher os NAs desta vari√°vel com o m√™s da coluna `date`.

In [55]:
# M√°xima dist√¢ncia do competidor
max_value = df1['competition_distance'].max()
max_value

75860.0

In [56]:
# competition_distance     
df1['competition_distance'] = df1['competition_distance'].apply(lambda x: 3*max_value if math.isnan(x) else x)

# competition_open_since_month    
df1['competition_open_since_month'] = df1.apply(lambda x: x['date'].month if math.isnan(x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)

# competition_open_since_year  
df1['competition_open_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan(x['competition_open_since_year']) else x['competition_open_since_year'], axis=1)

# promo2_since_week    
df1['promo2_since_week'] = df1.apply(lambda x: x['date'].week if math.isnan(x['promo2_since_week']) else x['promo2_since_week'], axis=1)

# promo2_since_year   
df1['promo2_since_year'] = df1.apply(lambda x: x['date'].year if math.isnan(x['promo2_since_year']) else x['promo2_since_year'], axis=1)

# promo_interval                  
month_map = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 
             5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 
             9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

df1['promo_interval'].fillna(0, inplace=True)
df1['month_map'] = df1['date'].dt.month.map(month_map)
df1['is_promo'] = df1[['promo_interval','month_map']].apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis=1)

In [61]:
df1.sample(5)

,store,day_of_week,date,sales,customers,open,promo,state_holiday,school_holiday,store_type,assortment,competition_distance,competition_open_since_month,competition_open_since_year,promo2,promo2_since_week,promo2_since_year,promo_interval,month_map,is_promo
286113,222,6,2014-11-08,3225,367,1,0,0,0,a,a,2170.0,11.0,2008.0,0,45.0,2014.0,0,Nov,0
427332,1073,6,2014-06-14,4740,652,1,0,0,0,a,c,1710.0,6.0,2014.0,1,44.0,2012.0,"Jan,Apr,Jul,Oct",Jun,0
800333,549,7,2013-07-14,0,0,0,0,0,0,a,c,2330.0,7.0,2013.0,0,28.0,2013.0,0,Jul,0
912549,150,4,2013-04-04,6217,702,1,0,0,1,c,c,31830.0,3.0,2010.0,0,14.0,2013.0,0,Apr,0
375419,792,2,2014-08-05,8347,755,1,1,0,1,d,a,17280.0,10.0,2009.0,1,18.0,2011.0,"Feb,May,Aug,Nov",Aug,1

In [62]:
# Checando os NAs
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
month_map                       0
is_promo                        0
dtype: int64

## 1.6. Change data types

In [64]:
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
month_map                               object
is_promo                                 int64
dtype: object